@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="https://github.com/login/oauth/authorize?client_id=Ov23li9LNCpGfDDQWZFM">Login With Github</a>
    <br>
    <lable>@Model.Message</lable>